# Build artifacts
terraform-provider-vboxweb
terraform-provider-vboxweb.exe

# Terraform files
**/.terraform/
**/.terraform.lock.hcl
**/.terraformrc
**/*.tfstate
**/*.tfstate.*
**/.terraform/

# Test coverage
coverage.out
coverage.html
